:root{
    --bg: #000000;
    --text: #ada8a8;
    --darktext:#2c2b2b;
    --invText: #000000;
    --blob: #ffffff;
    --blob2:#F0DBA5;
    --blob3: #5c5c5c;
    --card-grd1: #888888;
    --card-grd2: #424242;
    --border-grd1: #b3b3b3;
    --border-grd2: #4e4e4e;
    --darkCard-grd1: #3b3b3b;
    --darkCard-grd2: #000000;
    --darkCardborder-grd1: #bdbdbd;
    --darkCardborder-grd2: #3d3d3d;
    --radial-center: rgba(219, 219, 219, 0.3);
    --radial-edge: rgba(119, 119, 119, 0.3);
    --darkCardradial-center: rgba(114, 114, 114, 0.3);
    --darkCardradial-edge: rgba(32, 32, 32, 0.3);
    --shadow: rgba(39, 39, 39, 0.5);
    --darkCardShadow: rgba(3, 3, 3, 0.5);
}

html, body {
    overflow: hidden;
}

.centered-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; /* Ensures it stretches across screen, modify as needed */
  text-align: center; /* Centers the text within the container */
}
.card {
    width: 300px;
    height: 150px;
    position: relative;
    background: linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out;
    border: 2px solid rgba(222, 222, 233, 0);
    left: 0px;
  }
  
  .card:hover {
    height: 155px;
    width: 305px;
    background: radial-gradient(50% 90% at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: 3;
    transition: all ease 0.3s;
  }
  
  .card:hover > .shadow {
    box-shadow: 0px 4px 20px 5px rgba(255, 255, 255, 0.4);
    z-index: 1;
    transition: all ease 0.3s;
  }

.card.selected{
    border: 2px solid rgb(222, 222, 233);
    transform: scale(1.05);
}

.border, .filter, .shadow, .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.border {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(135deg,var(--border-grd1),var(--border-grd2)) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
  
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000;
    filter: url(#noiseFilter);
    opacity: 16%;
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
    border-radius: 10px;
  }
  
  .backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--radial-center), var(--radial-edge)), linear-gradient(135deg, var(--card-grd1), var(--card-grd2));
    z-index: 0;
    border-radius: 10px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgba(117, 117, 117, 0);
    transition: all ease 0.3s;
  }

  .darkCard {
    width: 300px;
    height: 150px;
    position: relative;
    background: linear-gradient(135deg, var(--darkCard-grd1), var(--darkCard-grd2));
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    opacity: 1;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, left 0.5s ease-out, right 0.5s ease-out;
    border: 2px solid rgba(222, 222, 233, 0);
    right: 200px;
    bottom: 300px;
  }

.darkCardBorder, .darkCardFilter, .darkCardShadow, .darkCardBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.darkCardBorder {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(135deg,var(--darkCardborder-grd1),var(--darkCardborder-grd2)) border-box;
    -webkit-mask:
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
  }
  
  .darkCardFilter {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #000;
    filter: url(#noiseFilter);
    opacity: 16%;
    mix-blend-mode: hard-light;
    transition: all ease 0.3s;
    border-radius: 10px;
  }
  
  .darkCardBackdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at top, var(--darkCardradial-center), var(--darkCardradial-edge)), linear-gradient(135deg, var(--darkCard-grd1), var(--darkCard-grd2));
    z-index: 0;
    border-radius: 10px;
    opacity: 30%;
    transition: all ease 0.3s;
  }
  
  .darkCardShadow {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.295);
    transition: all ease 0.3s;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.modal-content {
  position: relative;
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slideDown 0.5s;
  transition: opacity 0.5s;
}

#modal-text {
  color: rgb(0, 0, 0); /* Change the text color here */
}
/* Confetti animation */
.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes confetti {
  0% { transform: translateY(-100px); opacity: 1; }
  100% { transform: translateY(300px); opacity: 0; }
}

.confetti span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  animation: confetti 1s linear infinite;
}

.confetti span:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.8);
  animation-duration: 1.5s;
}

.confetti span:nth-child(even) {
  background-color: rgba(0, 255, 0, 0.8);
  animation-duration: 1s;
}

  .button.disabled {
    background-color: #ada8a8;
    pointer-events: none;
    color: #666;
}

  .button {
    background-color: #ada8a8;
    color: #000000;
  }

  .button:hover {
    background-color: #6b6868;
    color: #000000;
  }

  .button.green {
    background-color: #7db16d;
    color: #000000;
  }

  @keyframes spinFadeOut {
    from {
      transform: rotate(0deg);
      opacity: 1;
    }
    to {
      transform: rotate(1080deg);
      opacity: 0;
      height: 55px;
      width: 105px;
    }
  }
  
  .spin-fade-out {
    animation: spinFadeOut 2s forwards;
  }
ul.hand{
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    position: relative;
    clear: both;
    margin-bottom: 3.5em;
    left: 20em;
    height: 18em;
}

ul.hand li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    position: absolute;
    bottom: 0;
}


ul.hand li:nth-child(1) {
    -moz-transform: rotate(-87deg);
    -webkit-transform: rotate(-87deg);
    -o-transform: rotate(-87deg);
    transform: rotate(-87deg);
    z-index: 10;
}
ul.hand li:nth-child(2) {
    -moz-transform: rotate(-78deg);
    -webkit-transform: rotate(-78deg);
    -o-transform: rotate(-78deg);
    transform: rotate(-78deg);
    z-index: 11;
}
ul.hand li:nth-child(3) {
    -moz-transform: rotate(-96deg);
    -webkit-transform: rotate(-96deg);
    -o-transform: rotate(-96deg);
    transform: rotate(-96deg);
    z-index: 9;
}
ul.hand li:nth-child(4) {
    -moz-transform: rotate(-69deg);
    -webkit-transform: rotate(-69deg);
    -o-transform: rotate(-69deg);
    transform: rotate(-69deg);
    z-index: 12;
}
ul.hand li:nth-child(5) {
    -moz-transform: rotate(-105deg);
    -webkit-transform: rotate(-105deg);
    -o-transform: rotate(-105deg);
    transform: rotate(-105deg);
    z-index: 8;
}
ul.hand li:nth-child(6) {
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    z-index: 13;
}
ul.hand li:nth-child(7) {
    -moz-transform: rotate(-114deg);
    -webkit-transform: rotate(-114deg);
    -o-transform: rotate(-114deg);
    transform: rotate(-114deg);
    z-index: 7;
}
ul.hand li:nth-child(8) {
    -moz-transform: rotate(-123deg);
    -webkit-transform: rotate(-123deg);
    -o-transform: rotate(-123deg);
    transform: rotate(-123deg);
    z-index: 6;
}
ul.hand li:nth-child(9) {
    -moz-transform: rotate(-132deg);
    -webkit-transform: rotate(-132deg);
    -o-transform: rotate(-132deg);
    transform: rotate(-132deg);
    z-index: 5;
}

.Czar-message {
  display: none;
}
